html {
    overflow-x: hidden; }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000;
    background-color: #f4ede5; }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400; }
  
  h1, h2 {
    font-weight: 700; }

    #gtco-special-dishes .special-number {
      position: relative;
      font-size: 60px; }
      #gtco-special-dishes .special-number:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 90px;
        width: 200px;
        height: 1px;
        background: #000; }
    
    #gtco-special-dishes h3 span {
      color: #f34949; }
    
    .dishes-text {
      padding-left: 90px; }

      .btn {
        font-size: 14px;
        font-weight: 600; }
      
      .btn-primary {
        display: inline-block;
        background-color: #f34949;
        border-color: #f34949;
        color: #fff;
        border-radius: 30px;
        padding: 9px 25px;
        text-transform: capitalize;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .btn-primary:hover {
          background-color: #e22104;
          border-color: #e22104;
          color: #fff; }