html {
    overflow-x: hidden; }

    .navbar {
      background-color: transparent !important; 
      }
  
    .navbar-nav .nav-link {
      color: #fff !important; 
        font-weight: bold; 
      }
    .navbar-brand {
      color: #fff !important; 
      font-weight: bold; 
      }

  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400; }
  
  h1, h2 {
    font-weight: 700; }

    #gtco-special-dishes .special-number {
      position: relative;
      font-size: 60px; }
      #gtco-special-dishes .special-number:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 90px;
        width: 200px;
        height: 1px;
        background: #000; }
    
    #gtco-special-dishes h3 span {
      color: #f34949; }
    
    .dishes-text {
      padding-left: 90px; }

    .btn {
      font-size: 14px;
      font-weight: 600; }

      .btn-primary {
        display: inline-block;
        background-color: #f34949;
        border-color: #f34949;
        color: #fff;
        border-radius: 30px;
        padding: 9px 25px;
        text-transform: capitalize;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .btn-primary:hover {
        background-color: #e22104;
          border-color: #e22104;
          color: #fff; }
    .hero {
      height: 600px;
      position: relative; }
        @media (min-width: 992px) {
          .hero {
            height: calc(100vh - 130px); } }
            
        .hero-info {
          padding-top: 60px; }
          @media (min-width: 1420px) {
            .hero-info {
              padding-top: 140px; } }
            .hero-info li {
              padding-right: 15px;
              padding-left: 15px; }
            .hero-info .lnr {
              display: block;
              font-size: 32px;
              margin-bottom: 15px; }

    .img-bg {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center; }
      
    .heading-section {
      margin-bottom: 30px; }
        
              
            
/*============================
=            MENU            =
============================*/
.menus:hover img {
  transform: scale(1.1, 1.1); }

.menu-img {
  overflow: hidden;
  height: 80px;
  width: 80px; }
  .menu-img img {
    transition: all .5s ease;
    height: 100%;
    object-fit: cover; }

.menu-price {
  text-align: right; }

.menus {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ffffff; }
  .menus p, .menus h3 {
    margin-bottom: 0; }
  .menus .text-wrap {
    width: calc(100% - 95px);
    margin-left: 15px; }
    .menus .text-wrap h4 {
      font-weight: 300; }

/*=====  End of MENU  ======*/
